/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
192.168.1.77-key.pem
192.168.1.77.pem
localhost-key.pem
localhost.pem
localhost+2-key.pem
localhost+2.pem
vite.config.js
package-lock.json
package.json
