<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Autorise l'accès direct au dossier storage
    RewriteCond %{REQUEST_URI} ^/storage/ [NC]
    RewriteRule ^ - [L]

    # Rediriger les autres requêtes vers le contrôleur Laravel
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

