body, html {
    overflow-x: hidden;  /* Empêche tout défilement horizontal */
}/* Styles globaux pour les orbes */


.orb-container, .orbContainer-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; /* Toujours en arrière-plan */
    pointer-events: none; /* Pour ignorer les clics */
    overflow: hidden; /* Empêche les débordements visuels */
}

/* Orbes du haut */
.orb-container {
    top: 0;
    left: 0;
}

.orb {
    position: absolute;
    width: 400px;
    height: 400px;
    max-width: 100%;
    border-radius: 50%;
    animation: float 10s infinite ease-in-out;
    opacity: 0.8;
}

.orb:nth-child(1) {
    top: -20%;
    left: 15%;
    animation-duration: 12s;
    background: radial-gradient(rgba(237, 201, 255, 1) 0%, rgba(0, 0, 0, 0) 60%);
}

.orb:nth-child(2) {
    top: -5%;
    left: 60%;
    animation-duration: 8s;
    background: radial-gradient(rgba(117, 185, 190, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
}

.orb:nth-child(3) {
    top: -2%;
    left: -15%;
    animation-duration: 6s;
    background: radial-gradient(rgba(208, 214, 181, 0.6) 0%, rgba(0, 0, 0, 0) 60%);
}

/* Orbes du bas */
.orbContainer-bottom {
    bottom: 0;
    left: 0;
}

.orb-bottom {
    position: absolute;
    width: 400px;
    height: 400px;
    max-width: 100%;
    border-radius: 50%;
    animation: float-bottom 10s infinite ease-in-out;
    opacity: 0.8;
}

.orbContainer-bottom .orb-bottom:nth-child(1) {
    bottom: -7%;
    left: 30%;
    animation-duration: 14s;
    background: radial-gradient(rgba(237, 201, 255, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
}

.orbContainer-bottom .orb-bottom:nth-child(2) {
    bottom: -20%;
    left: -30%;
    animation-duration: 10s;
    background: radial-gradient(rgba(117, 185, 190, 0.7) 0%, rgba(0, 0, 0, 0) 60%);
}

.orbContainer-bottom .orb-bottom:nth-child(3) {
    bottom: -3%;
    left: 50%;
    animation-duration: 12s;
    background: radial-gradient(rgba(208, 214, 181, 0.6) 0%, rgba(0, 0, 0, 0) 60%);
}

/* Animation spécifique pour les orbes du bas */
@keyframes float-bottom {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(20px) translateX(-20px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

/* Animation pour les orbes du haut */
@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-20px) translateX(20px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}
