.custom-audio-player .rhap_container {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-audio-player .rhap_progress-indicator {
    background-color: #37515F;
}

.custom-audio-player .rhap_progress-filled {
    background-color: #37515F;
}

.custom-audio-player .rhap_volume-indicator {
    background-color: #37515F;
}

.rhap_volume-filled {
    background-color: white;
}

.custom-audio-player .rhap_controls-section {
    color: white;
}

.custom-audio-player .rhap_time {
    color: #37515F;
}

.custom-audio-player .rhap_button-clear {
    color: #37515F;
}

.custom-audio-player .rhap_button-clear:hover {
    color: rgb(204, 204, 204);
}

.custom-audio-player .rhap_volume-bar {
    background-color: #37515F;
}
